* {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 65px; }

h2 {
  font-size: 50px; }

p {
  font-size: 15px; }

/*Media phone index y cafe*/
/*imagenes del index*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .index-imgs, .flex-body-cafe {
    display: flex;
    flex-direction: column; }
  /*Posicion en columna version mobile body pagina de cafe*/
  .flex-body-cafe {
    justify-content: center;
    align-items: center; }
  .flex-body-cafe-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; } }

.logo {
  width: 50px;
  height: 50px; }

body {
  background-color: burlywood; }

.navbar-bgcol {
  background-color: #744100; }

.imgs-cafe {
  width: 33%; }

.img-home {
  width: 100%;
  height: 100vh; }

.text-justy {
  text-align: justify;
  margin-right: 10px; }

/*imagenes carrusel pagina cafe*/
.imgs-carousel {
  width: 60%;
  height: 400px; }

/*imagenes del body*/
.imgs-body {
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 10px -12px 4px -7px rgba(0, 0, 0, 0.4); }
